<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="\.(html|pdf|xml|php|js|ico|txt|gif|jpg|png|css|rss|zip|tar\.gz|doc)$" ignoreCase="false" negate="true" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
